.Card {
    background-color: #c3c3c3;
    text-align: center;
    margin: 5px;
    flex: 1 1 200px;
    align-items: center;
    height: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}

.span {
    text-transform: capitalize;
}

.Fairy {
    color: #D685AD
}

.Steel {
    background-color: #B7B7CE;
}

.Dark {
    background-color: #705746
}

.Normal {
    background-color: #A8A77A
}

.Fire {
    background-color: #EE8130;
}

.Water {
    background-color: #6390F0;
}

.Electric {
    background-color: #F7D02C;
}

.Grass {
    background-color: #7AC74C
}

.Ice {
    background-color: #96D9D6
}

.Fighting {
    background-color: #C22E28
}

.Poison {
    background-color: #A33EA1;
}

.Ground {
    background-color: #E2BF65
}

.Flying {
    background-color: #A98FF3
}

.Psychic {
    background-color: #F95587
}

.Bug {
    background-color: #A6B91A
}

.Rock {
    background-color: #B6A136
}

.Ghost {
    background-color: #735797
}

.Dragon {
    background-color: #6F35FC
}